node_modules/

uploads/noticias/**.jpg
uploads/noticias/**.png
uploads/noticias/**.jpeg

uploads/servicios/**.jpg
uploads/servicios/**.png
uploads/servicios/**.jpeg

uploads/usuarios/**.jpg
uploads/usuarios/**.png
uploads/usuarios/**.jpeg
